<p id="notice"><%= notice %></p>

<h1>Liste des Workshops</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Url</th>
      <th>Date de début</th>
      <th>Date de fin</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workshops.each do |workshop| %>
      <tr>
        <td><%= workshop.name %></td>
        <td><%= workshop.description %></td>
        <td><%= workshop.url %></td>
        <td><%= workshop.dateDebut %></td>
        <td><%= workshop.dateFin %></td>

        <td><%= link_to 'Voir', workshop %></td>
        <td><%= link_to 'Editer', edit_workshop_path(workshop) if can? :edit, Workshop%></td>
        <td><%= link_to 'Supprimer', workshop if can? :destroy, Workshop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouveau Workshop', new_workshop_path if can? :create, Workshop%>
