<% content_for :title, @workshop %>

<div class="row">
    <div class="col-md-3">
        <article class="project thumbnail">
            <h1><%= @workshop.name %></h1>
            <% if @workshop.description %><div><%= @workshop.description %></div><% end %>
            <% if @workshop.url %><p><%= link_to @workshop.url, @workshop.url, target: :blank %></p><% end %>

            <%= link_to 'Editer', edit_workshop_path(@workshop), class: "btn btn-default" if can? :edit, @workshop %>
            <%= link_to 'Supprimer', @workshop, method: :delete, class: "btn btn-default", data: { confirm: 'Are you sure?' } if can? :destroy, @workshop %>
        </article>
    </div>

    <% if @workshop.projects.any?
    @id = 1 %>
      <div class="col-md-9">
        <h3 style="margin-top: 0;">Liste des projets</h3>
      </div>
      <% @workshop.projects.each do |project| %>
        <div class="col-md-9">
            <p>Projet <%= @id %> : <%= link_to project, project %></p>
        </div>
      <% @id += 1%>
      <%end %>

    <% end %>
</div>
