<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="glyphicon glyphicon-bell"></span>
      Notifications
      <% if(@demandesValidation.count > 0) %>
        <i class="glyphicon glyphicon-envelope pull-right">
          <span class="notifications-level"><%= @demandesValidation.count %></span>
        </i>
      <% end %>
    </div>

    <% droit = current_user.profesor? ? 2 : 1; %>
    
    <%= javascript_tag do %>
      var Features = {};
      Features['droit'] = "<%= droit %>";
    <% end %>
    
    <% content_for :javascript do %>
      <%= javascript_include_tag 'badge.js' %>
    <% end %>
    
    <%= render partial:'features/modal' %>

    <div class="panel-body" style="height: 123px; overflow: auto;">
      <ul class="list-group">

        <% if @demandesValidation.count > 0 %>
          <% count = 0 %>
          <% @demandesValidation.each do |demande| %>
            <% count += 1 %>
            <% featureProject = FeaturesProject.find_by(feature_id:demande.feature_id, project_id: demande.project_id) %>
            <!-- List group -->
            <li class="list-group-item feature-check" id="<%=count%>">
              <p>
                <strong><%= Project.find(featureProject.project_id).name %> </strong>
               
                <%# Pour les professeurs, on affiche le nom de l'étudiant qui fait la demande %>
                <% if current_user.profesor? %>
                  <%# Si l'utilisateur a indiqué son nom et/ou prénom on l'affiche %>
                  <% if !featureProject.id_demandeur.nil? %>
                    <% userFirstName = User.find(featureProject.id_demandeur).first_name; %>
                    <% userLastName = User.find(featureProject.id_demandeur).last_name; %>
                    <% if !(userFirstName.blank? || userLastName.blank?) %>
                      (<%= userFirstName + " " + userLastName %>)
                    <% end %>
                  <% end %>
                <% else %>
                  <%# Pour les étudiants, on affiche le nom de la personne qui valide/rejette la demande %>
                  <% if !featureProject.id_prof_valide.nil? %>
                    <% profFirstName = User.find(featureProject.id_prof_valide).first_name; %>
                    <% profLastName = User.find(featureProject.id_prof_valide).last_name; %>
                    <% if !(profFirstName.blank? || profLastName.blank?) %>
                      (<%= profFirstName + " " + profLastName %>)
                    <% end %>
                  <% end %>
                <% end %>
                
                : <%= Feature.find(featureProject.feature_id).name %>
                
                <% if featureProject.status == 2 %>
                  <span class="success glyphicon glyphicon-ok"></span>
                <% elsif featureProject.status == 3 %>
                  <span class="danger glyphicon glyphicon-remove"></span>
                <% end %>
              </p>

              <%# on récupère les données du features pour le javascript %>
              <%= javascript_tag do %>
                var id = <%= count %>;
                Features[id] = {};
                Features[id]['feature_id'] = "<%= featureProject.feature_id %>";
                Features[id]['project_id'] = "<%= featureProject.project_id %>";
                Features[id]['status'] = "<%= featureProject.status %>";
                Features[id]['commentaire'] = "<%= raw(featureProject.commentaire) %>";
                Features[id]['commentaire_prof'] = "<%= raw(featureProject.commentaire_prof) %>";
              <% end %>
            </li>
          <% end %>

        <% else %>
          <li class="list-group-item">
            <% if current_user.profesor? %>
              Vous n'avez aucun badge en attente de validation
            <% else %>
              Vous n'avez aucun badge validé/refusé
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
