<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-bell"></span>
            Notifications
            <%if(@demandesValidation.count>0)%>
            <i class="glyphicon glyphicon-envelope pull-right">            <span class="notifications-level
"><%=@demandesValidation.count%></span>
</i>
<%end%>
        </div>
        <%= javascript_tag do %>
          var Features = {};
        <% end %>
        <% content_for :javascript do %>
        <%= javascript_include_tag 'dashboard.js' %>
        <%end%>


        <div class="panel-body" style="height: 155px; overflow: auto;">
            <ul class="list-group">
                <%if @demandesValidation.count>0%>
                <% @demandesValidation.each do |demande|%>
                <!-- List group -->
                <li class="list-group-item feature-check">
                <p>


                    <strong><%=Project.find(demande.project_id).name%> </strong>
                    <%# Si l'utilisateur a indiqué son nom et/ou prénom on l'affiche%>
                    <% if(!User.find(demande.id_demandeur).first_name.nil? || !User.find(demande.id_demandeur).last_name).nil?%>
                    (<%=User.find(demande.id_demandeur).first_name%> <%=User.find(demande.id_demandeur).last_name%>)
                    <%end%>: <%=Feature.find(demande.feature_id).name%>  </p>
                      <%# on récupère les données du features pour le javascript%>
                    <%= javascript_tag do %>

                  			var id = "<%= demande.feature_id %>";

                        Features[id] = {};
                  			Features[id]['feature_id'] = "<%= demande.feature_id %>";
                        Features[id]['project_id'] = "<%= demande.project_id %>";
                  			Features[id]['status'] = "<%= demande.status %>";
                  			Features[id]['commentaire'] = "<%= raw(demande.commentaire) %>";
                  			Features[id]['commentaire_prof'] = "<%= raw(demande.commentaire_prof) %>";
                  	<% end %>
                    <%= render partial:'features/modal' %>


                </li>

                <%end%>
                <%else%>
                  <li class="list-group-item">
                    Vous n'avez aucun badge en attente de validation
                  </li>
                  <%end%>
            </ul>

        </div>
    </div>
</div>
