<!-- <h2>Dashboard</h2> -->

<% content_for :title, 'Dashboard' %>
<% content_for :head do %>
  <script type="javascript">
      $(function() {
        var App = <%= current_user %>;
        console.log(App);
        // toto(App);
      });
  </script>
  <% end %>

  <div class="row" style="margin-bottom: 30px;">
  <h1 style="margin: 0 0 20px 0">Tableau de bord</h1>

    <div class="col-md-6">


    <div class="panel panel-default" style="min-height: auto;">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-user"></span>
        <%= @user %>
      </div>
      <div class="panel-body">
        <% #On affiche Administrateur s'il est admin et enseignant s'il est prof
        if @user.admin? && !@user.profesor? %>
          <h4>Administrateur</h4>
        <% elsif @user.profesor? %>
        <h4>Enseignant(e)</h4>
        <% else%>
          <h4> Étudiant(e) </h4>
        <% end %>
      </div>
    </div>

      <%= link_to 'Créer un nouveau projet', new_project_path, style: 'width: 100%;', class: 'btn btn-default' if can? :create, Project %>
  </div>


    <%= render 'notifications'%>


  </div>

  <div class="row">

    <div class="col-md-12">

    <%# Formulaire de tri des projets%>

    <form class="form col-xs-3" action="#" method="get" style="float: right;">
        <%= select_tag('filter', options_for_select([['Tous les projets', 'all'], ['Projets en cours', 'inprogress', 'selected'=>'selected'], ['Projets terminés', 'end']]), :class=>'form-control', 'onChange'=>'this.parentNode.submit()') %>
    </form>
    <%# Si il n'y a pas de projets selon le select, un message s'affiche, sinon les stats s'affichent %>
    <%if @workshops.empty?%>

      <%if(params[:filter].eql?("inprogress"))%>
          <h3> Il n'y a aucun workshop en cours </h3>
      <%elsif (params[:filter].eql?("end"))%>
          <h3> Il n'y a aucun workshop terminé</h3>
      <%else%>
          <h3> Il n'y a aucun workshop </h3>
          <%= link_to 'Créer un workshop', new_workshop_path if can? :create, Workshop%>
      <%end%>

    <%else%>
      <% @pills=1 %>
      <!-- nav -->
        <ul class="nav nav-tabs" style="margin-bottom: 5px;">
          <% @workshops.each do |workshop| %>

          <% if(current_user.admin? || current_user.profesor?)%>
            <li class="<%= ' ' + (@pills == 1 ? 'active' : '') %>">
              <%= link_to workshop.name, '#pills'+@pills.to_s, 'data-toggle'=>'tab' %>
            </li>
            <% @pills+=1 %>
          <%else%>
             <%if (!@projects.where(workshop_id: workshop.id).empty?)%>
                 <li class="<%= ' ' + (@pills == 1 ? 'active' : '') %>">
                   <%= link_to workshop.name, '#pills'+@pills.to_s, 'data-toggle'=>'tab' %>
                 </li>
                 <% @pills+=1 %>
             <%end%>

            <%end%>
          <% end %>
          <% @pills=1 %>



        </ul>

        <!-- content -->
          <div class="tab-content">

            <% @workshops.each do |workshop|  %>

              <div id="pills<%= @pills %>" class="tab-pane fade<%= ' ' + (@pills == 1 ? 'active in' : '') %>" style="margin-top: 30px;">
                <%# Si l'utilisateur est un professeur, on affiche les stats de touts les projets ainsi que les stats de chaque projet détaillées%>
                <%if(current_user.profesor?)%>
                    <%= render 'projects/stats', projects: @projects.where(workshop_id: workshop.id), workshop: workshop%>
                  <%end%>
                <% @projects.where(workshop_id: workshop.id).each do |project|%>
                <div class="col-md-6 stats-project">
                  <div class="col-md-12" style="text-align: center;"><%= link_to project, 'projects/'+project.id.to_s, class: 'lead' %></div>
                  <%= render 'projects/statsDetails', project: project %>
                </div>
                <% end %>
              </div>
            <% @pills+=1 %>
            <% end %>
          </div>
          <%end%>

          </div>
</div>
