<!-- <h2>Dashboard</h2> -->

<% content_for :title, 'Dashboard' %>
<% content_for :head do %>
  <script type="javascript">
      $(function() {
        var App = <%= current_user %>;
        console.log(App);
        // toto(App);
      });
  </script>
  <% end %>

  <div class="col-md-3">

    <h1 style="margin: 0 0 20px 0">Tableau de bord</h1>

    <article class="project thumbnail">
      <h2><%= @user %></h2>
      <% #On affiche Administrateur s'il est admin et enseignant s'il est prof
      if @user.admin == true %>
        <h3>Administrateur</h3>
      <% elsif @user.profesor == true %>
        <h3>Enseignant</h3>
      <% end %>
    </article>

  </div>

  <div class="col-md-9">

    <% @pills=1 %>
    <!-- nav -->
      <ul class="nav nav-tabs" style="margin-bottom: 5px;">
        <% @workshops.each do |workshop| %>
          <li class="<%= ' ' + (@pills == 1 ? 'active' : '') %>">
            <%= link_to workshop.name, '#pills'+@pills.to_s, 'data-toggle'=>'tab' %>
          </li>
          <% @pills+=1 %>
        <% end %>
        <% @pills=1 %>
        <%= options_for_select([['Lisbon', 1], ['Madrid', 2]], 2) %>

        <%= select_tag(options_for_select()) %>
        <%= link_to 'Tout afficher','#', :class=>'btn btn-default openall', :id=>'openall', :style=>'float: right;' %>
      </ul>

      <!-- content -->
        <div class="tab-content">
          <% @workshops.each do |workshop|  %>
            <div id="pills<%= @pills %>" class="tab-pane fade<%= ' ' + (@pills == 1 ? 'active in' : '') %>" style="margin-top: 30px;">
            <%= render 'stats', workshop: workshop%>
              <% @projects.where(workshop_id: workshop.id).each do |project|%>
              <div class="stats-project">
                <p style="margin: 0; padding: 5px;"><%= link_to project, 'projects/'+project.id.to_s %></p>
                <%= render 'statsDetails', project: project %>
              </div>
              <% end %>
            </div>
          <% @pills+=1 %>
          <% end %>
        </div>

</div>
