<% content_for :title, "Utilisateurs #{@year}" %>
<h1><%= "#{@year}" %></h1>
<p><%= @users.count %> personnes</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.last_name %></td>
        <td><%= user.first_name %></td>
        <td><textarea rows="1"><%= user.project.notes unless user.project.nil? %></textarea></td>
      </tr>
    <% end %>
  </tbody>
</table>
