<% content_for :title, 'Utilisateurs' %>
<div class="row users">
  <% @users.each do |user| %>
  <div class="col-md-2 user">
    <%= link_to user do %>
      <%= image_tag user.gravatar_url, class: 'img-circle img-responsive' %><br/>
      <%= user %><br/>
      <% if can? :edit, user %>
      	<p><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default btn-xs' %></p>
      <% end %>
      <% if can? :destroy, user %>
        <p><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure ?' }, class: 'btn btn-default btn-xs' %></p>
      <% end %>
    <% end %>
  </div>
  <% end %>
</div>
