<% content_for :title, @user %>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @user.gravatar_url, class: 'img-circle img-responsive' %><br/>
    <h1><%= @user %></h1>
    <p><%= @user.email %></p>
    <% unless @user.project.nil? %>
      <% @user.project.each do |project| %>
        <p><%= link_to project, project %></p>
      <% end %>
    <% end %>

    <%= link_to 'Edit', edit_user_path(@user) if can? :edit, @user %>
  </div>
</div>
