<% content_for :title, @user %>
<div class="row">
  <div class="col-md-3">
    <%= image_tag @user.gravatar_url, class: 'img-circle img-responsive' %><br/>
    <h1><%= @user %></h1>
    <p><%= @user.email %></p>

    <%= link_to 'Editer', edit_user_path(@user) if can? :edit, @user %>
    <%= link_to 'Supprimer', @user, method: :delete, data: { confirm: 'Are you sure ?' } if can? :destroy, @user %>
  </div>
</div>
