<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Modifier mon mot de passe</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>

          <div class="form-inputs">
              <div class="form-group"><%= f.input :password, label: "New password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), hint_html: { class: "help-block" }, input_html: { class: "form-control" } %></div>
              <div class="form-group"><%= f.input :password_confirmation, label: "Confirm your new password", required: true, input_html: { class: "form-control" } %></div>
          </div>

          <div class="form-actions">
              <%= f.button :submit, "Modifier", class: "btn btn-default" %>
          </div>
        <% end %>
    </div>
</div>
