<% data=Hash.new %>
<% projet=Hash.new %>
<%count=0%>
<%percent=0%>

    <!-- On récupère le nombre total de badges validés du projet-->
    <%featuresChecked=project.features.where("status=2").map {|c|c.name}.count()%>



    <!-- Pour chaque field parent (Dev, Contenu et Design), on récupère le nombre de features validés-->
    <% @fieldsParents.each do |field| %>
        <% field.all_features.each do |feature| %>
            <%if(project.has_feature?(feature)) %>
                      <%count=count+1%>
            <%end %>
            <!-- On calcule le pourcentage de badges validés par field (par rapport a tous les badges validés)-->
            <%if(featuresChecked!=0)%>
              <%projet[field.name]=count*100/featuresChecked  %>
            <%end%>
           <!-- On calcule le pourcentage de features validé par field (par rapport au total de badges par field)-->
            <%percent=count*100/field.all_features.count%>
            <% data[field.name]=percent%>
        <% end %>
    <%count=0%>
    <% end %>

<%# Si des badges on été validés on affiches les statistiques%>

<%if(featuresChecked!=0)%>

      <div class="col-md-6">
        <%# Graphique représentant l'avancée en % des badges validés pour chaque field %>
        <%= bar_chart [{name: "Badge(s) validé(s) (en %)", data:data}],colors: ["#014B4C","#012322","#0D7979"], hAxis: {format: 'percent'}, max: 100%>
      </div>

      <div class="col-md-6">
        <%# Graphique représentant la répartition en % des badges validés (si il y a en a) %>
        <%= pie_chart (projet),colors: ["#014B4C","#012322","#0D7979"]%>
      </div>

      <%# Seuls les professeurs ont accès au graphique de répartition des demandes de validation/jour%>
      <%if(current_user.profesor?)%>
        <%=line_chart @projects.joins("LEFT JOIN features_projects ON features_projects.project_id = projects.id").where("features_projects.project_id=?",project.id).group(:name).group_by_day(:date_demande).count("case when date_demande IS NOT NULL THEN 0 end"),:name => "Badge(s) demandé(s)", colors: ["#014B4C","#012322","#0D7979"] %>
      <%end%>

<%# Si aucun badge n'a été validé on affiche un message d'erreur%>
<%else%>
  <div class="col-md-12" style="text-align: center;">
    <p style="margin-top: 20px;">Aucun badge n'a été validé !</p>
  </div>
<%end%>

<!-- Calcul du nombre de jours restants -->

<% dateFin=@workshops.where(id: project.workshop_id).pluck(:dateFin)[0].to_date %>
<% aujourdhui=Time.now.to_date%>
<% joursRestants=(dateFin-aujourdhui).to_i%>
<% if (joursRestants<0)%>
  <p> Le projet est terminé </p>
<%elsif (joursRestants==0)%>
  <p> C'est le dernier jour ! </p>
<%elsif (joursRestants==1)%>
<p> Il reste <%=joursRestants%> jour. </p>
<%else%>
  <p> Il reste <%=joursRestants%> jours. </p>
<%end%>

<%if(!@badgesAttente.empty?)%>
Vous avez  <%=@badgesAttente.count%> badges en attente :
<ul>
  <%@badgesAttente.each do |badge|%>
    <li><%=@features.where(id: badge.feature_id).first%></li>
  <%end%>
</ul>
<%end%>
