<% content_for :title, @project %>
<%= render 'statsDetails', project: @project%>
<%= javascript_tag do %>
  var Features = {};
  Features['droit'] = "<% if (@project.in_users?(current_user) && current_user.profesor) || current_user.admin %>2<% elsif @project.in_users?(current_user) %>1<% else %>0<% end %>";
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag 'badge.js' %>
  <%end%>
<%= render partial:'features/modal' %>
<div class="row">
  <div class="col-md-3" id="project" data-id="<%= @project.id %>">
    <%= render 'project', project: @project %>
    <%= link_to @project.github, @project.github, target: :blank %>
    <ul class="list-group">
      <% @project.users.each do |user| %>
        <li class="list-group-item">
          <%= link_to user do %>
            <%= image_tag user.gravatar_url(size: 25), class: 'img-circle' %>
            <%= user %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Edit', edit_project_path(@project) if can? :edit, @project %>
    <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @project %>
  </div>
  <div class="col-md-9">
    <%= form_tag project_path, :method => 'get', :id => "projects_search" do %>
      <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Rechercher",:name => nil %>
          <%= submit_tag "Annuler" %></p>
    <%end%>


      <%= render partial:'fields/list', locals: { parent_fields: @fieldsParents, fields: @fields, project: @project } %>


  </div>
</div>
