<% content_for :title, @project %>

<div class="row">
  <div class="col-md-3">
    <%= render 'project', project: @project %>
    <%= link_to @project.github, @project.github, target: :blank %>
    <ul class="list-group">
      <% @project.users.each do |user| %>
        <li class="list-group-item">
          <%= link_to user do %>
            <%= image_tag user.gravatar_url(size: 25), class: 'img-circle' %>
            <%= user %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <button type="button" class="btn btn-link"><%= link_to 'Editer', edit_project_path(@project) if can? :edit, @project %></button>
    <button type="button" class="btn btn-link"><%= link_to 'Supprimer', @project, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @project %></button>
  </div>
  <div class="col-md-9">
    <%= render partial:'fields/list', locals: { parent_fields: @parent_fields, fields: @fields, project: @project } %>
  </div>
</div>
