<% content_for :title, @project %>
<%if(current_user.admin? || current_user.profesor?)%>
  <%= render 'statsDetails', project: @project%>

<%end%>

<%= javascript_tag do %>
  var Features = {};
  Features['droit'] = "<% if (@project.in_users?(current_user) && current_user.profesor) || current_user.admin %>2<% elsif @project.in_users?(current_user) %>1<% else %>0<% end %>";

<% end %>

<% content_for :javascript do %>
  <%= javascript_include_tag 'badge.js' %>
<%end%>

<%= render partial:'features/modal' %>

<div class="col-md-12">
  <div class="col-md-3" id="project" data-id="<%= @project.id %>" style="margin-top: 50px;">
    <%= render 'project', project: @project %>
    <%= link_to @project.github, @project.github, target: :blank %>
    <ul class="list-group">
      <% @project.users.each do |user| %>
        <li class="list-group-item">
          <%= link_to user do %>
            <%= image_tag user.gravatar_url(size: 25), class: 'img-circle' %>
            <%= user %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <button type="button" class="btn btn-link"><%= link_to 'Editer', edit_project_path(@project) if can? :edit, @project %></button>
    <button type="button" class="btn btn-link"><%= link_to 'Supprimer', @project, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @project %></button>
  </div>
  <div class="col-md-9" style="margin-top: 50px;">
<div style="margin: 15px 0;">
    <%= form_tag project_path, :method => 'get', :id => "projects_search" do %>
        <div class="col-xs-3" style="padding: 0; margin-right: 3px;">
          <%= text_field_tag :search, params[:search], :class => "form-control" %>
        </div>
          <%= submit_tag "Rechercher",:name => nil, :class => "btn btn-default" %>
          <%= submit_tag "Annuler", :class => "btn btn-default" %>
    <%end%>
  </div>


      <%= render partial:'fields/list', locals: { parent_fields: @fieldsParents, fields: @fields, project: @project } %>
  </div>
</div>
