<div class="row">
    <div class="col-md-12"><h1>Champs</h1></div>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Parent</th>
                <th>Nom</th>
                <th>Position</th>
                <th>Couleur</th>
                <th>Icon</th>
                <th style="text-align: right;"><%= link_to 'Nouveau', new_field_path, class: 'btn btn-primary' if can? :create, Field %></th>
            </tr>
        </thead>

        <tbody>
            <% @fields.each do |field| %>
            <tr>
                <td><%= field.parent %></td>
                <td><%= field.name %></td>
                <td><%= field.position %></td>
                <td><%= field.color %></td>
                <td><%= field.icon %></td>
                <td>
                  <%= link_to 'Modifier', edit_field_path(field), class: 'btn btn-default' if can? :edit, Field%>
                  <%= link_to 'Supprimer', field, method: :delete, data: { confirm: 'Êtes-vous sûr ?' }, class: 'btn btn-default'if can? :destroy, Field %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
