<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @field.color %>
</p>

<p>
  <strong>Position:</strong>
  <%= @field.position %>
</p>

<%= link_to 'Edit', edit_field_path(@field) %> |
<%= link_to 'Back', fields_path %>
