<p>
  <strong>Nom:</strong>
  <%= @field.name %>
</p>

<p>
  <strong>Couleur:</strong>
  <%= @field.color %>
</p>

<p>
  <strong>Position:</strong>
  <%= @field.position %>
</p>

<%= link_to 'Editer', edit_field_path(@field) %> |
<%= link_to 'Retour', :back %>
