<%= simple_form_for @feature do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
        <div class="form-group"><%= f.association :field, input_html: { class: "form-control" } %></div>
        <div class="form-group"><%= f.input :position, input_html: { class: "form-control" } %></div>
        <div class="form-group"><%= f.input :level, input_html: { class: "form-control" } %></div>
        <div class="form-group"><%= f.input :name, input_html: { class: "form-control" } %></div>
        <div class="form-group"><%= f.input :description, input_html: { class: "form-control" } %></div>
        <div class="form-group"><%= f.input :icon, input_html: { class: "form-control" } %></div>
    </div>

    <div class="form-actions"><%= f.button :submit, class: "btn btn-default" %></div>
<% end %>
