<% content_for :title, @feature %>
<div class="row">
    <div class="col-md-3 text-center">
        <%= render partial: 'badge', locals: { feature: @feature } %>
        <p><%= @feature.description %></p>
        <%= link_to 'Éditer', edit_feature_path(@feature) , class: 'btn btn-default'if can? :edit, @feature %>
        <%= link_to 'Supprimer', @feature, method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' }, class: 'btn btn-default' if can? :destroy, @feature %>
    </div>
    <% if @projects.any? %>
      <div class="col-md-9">
          <% @projects.each do |project| %>
            <div class="col-md-3<% if !project.has_feature?(@feature) %> inactive<% end %>">
              <%= render 'projects/project', project: project %>
            </div>
          <% end %>
      </div>
    <% end %>
</div>
